QMainWindow {
    background-color: rgb(55, 55, 55);
}

QPushButton {
    font-size: 14px;
    padding: 10px;
    text-transform: uppercase;
}

QPushButton#psb_exit {
    padding: 5px;
}

QLabel#lbl_app_title {
    font-size: 22px;
    color: blue;
    text-transform: uppercase;
    text-align: center;
}